.container {
  max-width: 1300px;
  margin: 20px auto;
  padding-left: 15px;
  height: auto;
  padding-right: 15px;
  background-color: #bbbbbb;
  border-radius: 18px;
}
h1{
  text-align: center;
  color: rgb(146, 17, 17);
}

img{
  height:150px;
  width: 150px;
  margin: 20px;
  border-radius: 20px;
}